.menu {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 160px;
  }
  
  .submenu button {
    display: block;
  }
  
  .submenu h2 {
    margin: 5px 0;
  }
  